<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Credential Input</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/admin-dashboard.css">
    </head>
    <body>
        <div class="dashboard-header">
            <h2>Admin Dashboard</h2>
        </div>
        <div class="doctor-section">
            <h2>Doctor Section</h2>
        </div>
        <div class="help-desk-section">
            <h2>Help desk Section</h2>
        </div>
        <div class="pharmacist-section">
            <h2>Pharmacist Section</h2>
        </div>
        <script src="../static/js/events/dashboard.js"></script>
    </body>
</html>