<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/login.css">
    </head>
    <body>
        <div class="background-credential">
            <div class="tips-section">
                <h1>Hotdog</h1>
            </div>
            <div class="input-credential-card">
                <form id="credentialInputForm">
                    <div class="name-row">
                        <input type="textbox" name="first_name" class="first-name" id="firstName" placeholder="First Name *" required>
                        <input type="textbox" name="middle_initial" class="middle-initial" id="middleInitial" placeholder="M.I">
                        <input type="textbox" name="last_name" class="last-name" id="lastName" placeholder="Last Name *" required>
                        <input type="textbox" name="suffix" class="suffix" id="suffix" placeholder="Suffix">
                    </div>
                    <div class="contact-row">
                        <h1></h1>
                        <input type="textbox" name="mobile_number" class="mobile-number" id="mobileNumber" placeholder="Mobile Number *" required>
                        <input type="textbox" name="mobile_number" class="mobile-number" id="mobileNumber" placeholder="Email *" required>
                    </div>
                    <div class="doctor-row">
                        <h1>Doctor</h1>
                    </div>
                    <div class="password-row">
                        <h1>Password</h1>
                    </div>
                </form>
                <input type="submit" class="finish-btn" id="finishBtn" value="Finish">
            </div>
        </div>
        <script src="../static/js/events/login.js"></script>
    </body>
</html>