<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/login.css">
    </head>
    <body>
        <div class="background-credential">
            <div class="tips-section">
                <h1>Hotdog</h1>
            </div>
            <div class="input-credential-card">
                <form id="credentialInputForm">
                    <h3>Fullname</h3>
                    <div class="name-row">
                        <div class="first-name-section">
                            <label for="first_name">First name</label>
                            <input type="textbox" name="first_name" class="first-name" id="firstName" placeholder="Jeffrey Norman" required>
                        </div>
                        <div class="middle-initial-section">
                            <label for="middle_initial">M.I</label>
                            <input type="textbox" name="middle_initial" class="middle-initial" id="middleInitial" placeholder="K">
                        </div>
                        <div class="last-name-section">
                            <label for="middle_initial">Last name</label>
                            <input type="textbox" name="last_name" class="last-name" id="lastName" placeholder="Dimagiba" required>
                        </div>
                        <div class="suffix-section">
                            <label for="suffix-section">Suffix</label>
                            <input type="textbox" name="suffix" class="suffix" id="suffix" placeholder="jr">
                        </div>
                    </div>
                    <h3>Demograph</h3>
                    <div class="demograph-row">
                        <div class="age-section">
                            <label for="age">Age</label>
                            <input type="textbox" name="age" class="age" id="age" placeholder="20" required>
                        </div>
                        <div class="birth-section">
                            <label for="birth">Birthdate</label>
                            <input type="date" name="birth" class="birth" id="birth" required>
                        </div>
                        <div class="sex-section">
                            <label for="sex">Sex</label>
                            <div class="sex-section-2">
                                <input type="radio" name="sex" class="male-radio" id="maleRadio">Male</input>
                                <input type="radio" name="sex" class="female-radio" id="femaleRadio">Female</input>
                            </div>
                        </div>
                        <div class="marital-section">
                            <label for="marital_status">Marital Status</label>
                            <select name="marital_status" class="marital-status" id="maritalStatus">
                                <option value="married">Married</option>
                                <option value="divorced">Divorced</option>
                                <option value="single">Single</option>
                            </select>
                        </div>
                        <div class="nationality-section">
                            <label for="nationality">Nationality</label>
                            <select name="nationality" class="nationality" id="nationality">
                                <option>Filipino</option>
                                <option>American</option>
                                <option>Canadian</option>
                                <option>Spanish</option>
                            </select>
                        </div>
                        <div class="religion-section">
                            <label for="religion">Religion</label>
                            <input type="textbox" name="religion" class="religion" id="religion" placeholder="Roman Catholic">
                        </div>
                    </div>
                    <h3>Contacts</h3>
                    <div class="contact-row">
                        <div class="mobile-section">
                            <label for="mobile_number">Mobile number</label>
                            <input type="textbox" name="mobile_number" class="mobile-number" id="mobileNumber" placeholder="0912 345 6789" required>
                        </div>
                        <div class="email-section">
                            <label for="email">Email</label>
                            <input type="textbox" name="email" class="email" id="email" placeholder="gumigiba@gmail.com" required>
                        </div>
                    </div>
                    <h3>Full Address</h3>
                    <div class="address-row">
                        <div class="house-number-section">
                            <label for="house_number">No.</label>
                            <input type="textbox" name="house_number" class="house-number" id="houseNumber" placeholder="10" required>
                        </div>
                        <div class="street-section">
                            <label for="street">Street</label>
                            <input type="textbox" name="street" class="street" id="street" placeholder="Milagro" required>
                        </div>
                        <div class="division-section">
                            <label for="division">Division</label>
                            <input type="textbox" name="division_name" class="division" id="division" placeholder="Santol Village" required>
                        </div>
                        <div class="division-type-div">
                            <label for="division_type">Division Type</label>
                            <select name="division_type" class="division-type" id="divisionType">
                                <option value="barangay">Barangay</option>
                                <option value="subdivision">Subdivision</option>
                                <option value="village">Village</option>
                            </select>
                        </div>
                        <div class="city-section">
                            <label for="city">City</label>
                            <input type="textbox" name="city" class="city" id="city" placeholder="Batangas" required>
                        </div>
                        <div class="zip-code-section">
                            <label for="zip_code">Zip code</label>
                            <input type="textbox" name="zip_code" class="zip-code" id="zip_code" placeholder="1100" required>
                        </div>
                    </div>
                    <h3>Password</h3>
                    <div class="password-row">
                        <div class="password-section">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="credential-password" id="credentialPassword" placeholder="Must have at least 9 chars" required>
                        </div>
                        <div class="confirm-password-section">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" name="confirm_password" class="confirm-password" id="confirmPassword" placeholder="Retype password" required>
                        </div>
                    </div>
                </form>
                <input type="submit" class="finish-btn" id="finishBtn" value="Finish">
            </div>
        </div>
        <script src="../static/js/events/login.js"></script>
    </body>
</html>