<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/login.css">
    </head>
    <body>
        <div class="background-credential">
            <div class="tips-section">
                <h1>Hotdog</h1>
            </div>
            <div class="input-credential-card">
                <form id="credentialInputForm">
                    <div class="name-row">
                        <input type="textbox" name="first_name" class="first-name" id="firstName" placeholder="first name *" required>
                        <input type="textbox" name="middle_initial" class="middle-initial" id="middleInitial" placeholder="m.i">
                        <input type="textbox" name="last_name" class="last-name" id="lastName" placeholder="last name *" required>
                        <input type="textbox" name="suffix" class="suffix" id="suffix" placeholder="suffix">
                    </div>
                    <div class="demograph-row">
                        <h1></h1>
                        <input type="textbox" name="age" class="age" id="age" placeholder="age *" required>
                        <input type="date" name="birth" class="birth" id="birth" required>
                        <input type="radio" name="sex" class="male-radio" id="maleRadio">Male</input>
                        <input type="radio" name="sex" class="female-radio" id="femaleRadio">Female</input>
                        <select class="nationality" id="nationality">
                            <option>Filipino</option>
                            <option>American</option>
                            <option>Canadian</option>
                            <option>Spanish</option>
                        </select>
                    </div>
                    <div class="address-row">
                        <h1></h1>
                        <input type="textbox" name="mobile_number" class="mobile-number" id="mobileNumber" placeholder="mobile number *" required>
                        <input type="textbox" name="email" class="email" id="email" placeholder="email *" required>
                        <input type="textbox" name="street" class="street" id="street" placeholder="street *" required>
                        <input type="textbox" name="division" class="division" id="division" placeholder="village/subdivision/brgy *" required>
                        <input type="textbox" name="house_number" class="house-number" id="houseNumber" placeholder="hnum *" required>
                        <input type="textbox" name="city" class="city" id="city" placeholder="city/province *" required>
                        <input type="textbox" name="zip_code" class="zip-code" id="zip_code" placeholder="zip code *" required>
                        <input type="textbox" name="religion" class="religion" id="religion" placeholder="religion">
                    </div>
                    <div class="password-row">
                        <h1></h1>
                        <input type="password" name="password" class="credential-password" id="credentialPassword" placeholder="password *" required>
                        <input type="password" name="confirm_password" class="confirm-password" id="confirmPassword" placeholder="confirm password *" required>
                    </div>
                </form>
                <input type="submit" class="finish-btn" id="finishBtn" value="Finish">
            </div>
        </div>
        <script src="../static/js/events/login.js"></script>
    </body>
</html>