body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.dashboard-header {
    background-color: blue;
    display: flex;
    justify-content: center;
}

.doctor-section, .help-desk-section, .pharmacist-section {
    display: flex;
    flex-direction: row;
    height: 300px;
}

.doctor-section {
    background-color: bisque;
}

.help-desk-section {
    background-color: cadetblue;
}

.pharmacist-section {
    background-color: coral;
}