body {
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.login-container-background {
    width: 35%;
    height: 100%;
    background-color: brown;
    position: absolute;
    top: 0px;
}

.login-container {
    height: 40%;
    width: 60%;
    border-radius: 10px;
    background-color: aliceblue;
    position: absolute;
    top: 30%;
    left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.username {
    height: 13%;
    width: 80%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    padding-left: 5px;
    top: 50px;
    border-radius: 5px;
    border: 0px;
}

.password {
    height: 13%;
    width: 80%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    padding-left: 5px;
    top: 110px;
    border-radius: 5px;
    border: 0px;
}

.input-error-text {
    color: rgb(249, 15, 15);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 150px;
}

.login-btn {
    height: 13%;
    width: 80%;
    background-color: #3c84fb;
    color: #FFFFFF;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.4;
    position: absolute;
    top: 210px;
    border-radius: 5px;
    border: 0px;
}

.login-btn:hover {
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 1px 4px 0 rgba(109, 108, 108, 0.8), 0 4px 3px 0 rgba(228, 228, 228, 0.4);
}

.login-btn:active {
    box-shadow: none;
    font-size: 14px;
}

.image-container {
    width: 70%;
    height: 100%;
    overflow: hidden;
    position: relative;
    left: 500px;
}

.image-container img{
    width: auto;
    height: 100%;
    position: absolute;
    right: -550px
}