body {
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.background-credential {
    background-color: rgb(70, 138, 255);
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
}

.tips-section {
    background-color: brown;
    height: 650px;
    width: 400px;
}

.input-credential-card {
    background-color: aliceblue;
    height: 650px;
    width: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px
}

.name-row, .demograph-row, .password-row, .address-row {
    background-color: aqua;
    height: 100px;
}

.finish-btn {
    background-color: #3c84fb;
    width: 300px;
    height: 50px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.4;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 0px;
}

.login-container-background {
    width: 35%;
    height: 100%;
    background-color: brown;
    position: absolute;
    top: 0px;
}

.login-container {
    height: 40%;
    width: 60%;
    border-radius: 10px;
    background-color: aliceblue;
    position: absolute;
    top: 30%;
    left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.username {
    height: 13%;
    width: 80%;
    font-size: 14px;
    position: absolute;
    padding-left: 5px;
    top: 50px;
    border-radius: 5px;
    border: 0px;
}

.password {
    height: 13%;
    width: 80%;
    font-size: 14px;
    position: absolute;
    padding-left: 5px;
    top: 110px;
    border-radius: 5px;
    border: 0px;
}

.first-name, .middle-initial, .last-name, .suffix, .age, .birth, .nationality, .mobile-number,
.email, .street, .division, .house-number, .city, .region, .zip-code, .religion, .credential-password, .confirm-password {
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid rgb(197, 197, 197);
    padding-left: 5px;
}

.middle-initial, .age, .suffix, .house-number {
    width: 55px
}

.first-name {
    width: 180px;
}

.last-name, .mobile-number, .religion, .city, .street {
    width: 130px;
}


.email {
    width: 230px;
}

.zip-code {
    width: 75px;
}


.input-error-text {
    color: rgb(249, 15, 15);
    font-size: 14px;
    position: absolute;
    top: 150px;
}

.login-btn {
    height: 13%;
    width: 80%;
    background-color: #3c84fb;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.4;
    position: absolute;
    top: 210px;
    border-radius: 5px;
    border: 0px;
}

.login-btn:hover, .finish-btn:hover {
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 1px 4px 0 rgba(109, 108, 108, 0.8), 0 4px 3px 0 rgba(228, 228, 228, 0.4);
    transition-duration: 0.4s;
}

.login-btn:active, .finish-btn:active{
    box-shadow: none;
    font-size: 14px;
    transition-duration: 0.2s;
}

.image-container {
    width: 70%;
    height: 100%;
    overflow: hidden;
    position: relative;
    left: 500px;
}

.image-container img{
    width: auto;
    height: 100%;
    position: absolute;
    right: -550px
}